.search-container{
	//width: 65%;
	//margin: auto;
	margin-left: 20%;
	text-align: left;
	margin-top: 60px;
	h3 {
		margin: 10px 0px;
		font-size:2.2em;
	}
	h4 {
		font-size: 1.6em;
		margin: 13px 0px;
		line-height: 10px;
	}
}

input.location-search {
	width: 160px;
	font-size: 1.5em;
}


.input-container{
	display: flex;
	
	h4 {
		font-size: 1.6em;
		margin: 17px 0px;	
		margin-top: 15px;
		margin-bottom: 24px;
		line-height: 20px;
	}
	input{ 
		margin: 10px 10px;
		line-height: 20px;
	}
}

input.search-button {
	width: 100px;
	text-decoration: none;
	font-size: 4em;
}